<nav class="navbar">
    <div class="navbar-left">
        <a routerLink="" class="navbar-logo">Insurance</a>
        <ul class="navbar-menu">
            <li><a routerLink="/addclaim">Add New Claim</a></li>
            <li><a routerLink="/irda">IRDA</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <a routerLink="/login" class="btn login">Login</a>
        <a routerLink="/register" class="btn signup">Sign Up</a>
        <div class="profile-dropdown">
            <img src="user.jpg" alt="User Profile" class="profile-img">
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</nav>