.container {
    background: #ffffff; /* White background for the container */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
    max-width: 600px; /* Slightly wider container */
    width: 100%;
    margin: auto;
    position: relative;
}

.action-icons {
    position: absolute;
    top: 20px;
    left: 20px;
}

.accept-btn, .reject-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.accept-btn {
    color: green;
}

.reject-btn {
    color: red;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px; /* Larger font size */
    color: #444;
    font-weight: 500; /* Medium font weight */
}

.details {
    display: flex;
    flex-direction: column;
}

.important-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

span {
    font-size: 16px;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.approval {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.approved {
    color: #fff;
    background-color: #28a745; /* Green for approved */
}
.no-status {
    color: #fff;
    background-color: #5d5f5e; /* Green for approved */
}

.not-approved {
    color: #fff;
    background-color: #dc3545; /* Red for not approved */
}


.update-btn, .create-link {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #28a745; /* Green background */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
}

.create-link{
    text-decoration: none;
}

.update-btn:hover, .create-link:hover {
    background-color: #218838; /* Darker green on hover */
}

.update-btn svg, .create-link svg {
    fill: white;
}

.breadcrumb {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    border-radius: 50%;
}

.breadcrumb-open {
    background-color: green;
}

.breadcrumb-closed {
    background-color: red;
}

.update-surveyor-fees-btn {
    width: max-content;
    padding: 3px;
    padding-bottom: 1px;
    background-color: #007bff; /* Blue background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-surveyor-fees-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

