<div class="container">
    <div class="login-form">
        <h2>Login</h2>
        <form #login="ngForm"
        (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                <input type="email" id="emailAddress" name="emailAddress" ngModel required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel required>
            </div>
            <button type="submit" >Login</button>
        </form>
        <p class="register-link">
            Don't have an account? <a routerLink="/register">Register here</a>
        </p>
    </div>
</div>