<div class="container">
    <div class="tabs">
        <button class="tablink">Open</button>
        <button class="tablink">Closed</button>
    </div>

    <div id="Open" class="tabcontent">
        @for(item of [1,2];track item;){
            <div class="claim-card">
                <div class="claim-row">
                    <div class="claim-info">
                        <label>Claimed:</label>
                        <span>2024-01-01</span>
                    </div>
                    <div class="claim-info">
                        <label>Policy No:</label>
                        <span>98765</span>
                    </div>
                </div>
                <div class="claim-row">
                    <div class="claim-info">
                        <label>Estimated Loss:</label>
                        <span>$10,000</span>
                    </div>
                    <div class="claim-info">
                        <label>Surveyor Assigned:</label>
                        <span>John Doe</span>
                    </div>
                </div>
                <a [routerLink]="['/claim']" class="details-link">View Details</a>
            </div>
        }
    </div>

    <!-- <div id="Closed" class="tabcontent">
        <div class="claim-card">
            <div class="claim-row">
                <div class="claim-info">
                    <label>Claimed:</label>
                    <span>2024-02-01</span>
                </div>
                <div class="claim-info">
                    <label>Policy No:</label>
                    <span>12345</span>
                </div>
            </div>
            <div class="claim-row">
                <div class="claim-info">
                    <label>Estimated Loss:</label>
                    <span>$5,000</span>
                </div>
                <div class="claim-info">
                    <label>Surveyor Assigned:</label>
                    <span>Jane Smith</span>
                </div>
            </div>
            <a href="claim-details.html" class="details-link">View Details</a>
        </div>-->
        <!-- Repeat similar claim-card divs for other closed claims -->
    <!-- </div>  -->
</div>