<form id="surveyorProfileform" class="profile-form" #surveyorProfileForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <label for="FirstName">First Name</label>
    <input id="FirstName" name="FirstName" type="text" placeholder="Enter first name" ngModel #FirstName="ngModel" required/>
    @if(FirstName.invalid && FirstName.touched && FirstName.errors && FirstName.errors['required']){
      <div class="error-message">
        <small>First Name is required</small>
      </div>
    }
  </div>

  <div class="form-row">
    <label for="LastName">Last Name</label>
    <input id="LastName" name="LastName" type="text" placeholder="Enter last name" ngModel #LastName="ngModel" required />
    @if(LastName.invalid && LastName.touched && LastName.errors && LastName.errors['required']){
      <div class="error-message">
          <small>Last Name is required</small>
      </div>
    }
  </div>

  <div class="form-row">
    <label for="EstimateLimit">Estimated Limit</label>
    <input id="EstimateLimit" name="EstimateLimit" type="number"  ngModel placeholder="0.00" #EstimateLimit="ngModel"/>
    @if(EstimateLimit.errors && EstimateLimit.errors['isErr']){
      <div class="error-message">
        <small>{{fieldValidations['EstimateLimit']}}</small>
      </div>
    }
  </div>

  <div class="form-row">
    <button type="submit" [disabled]="surveyorProfileForm.touched && surveyorProfileForm.invalid">Save</button>
  </div>
</form>
