<div class="container">
    <div class="register-form">
        <h2>Register</h2>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" id="userName" name="userName" ngModel required>
            </div>
            <div class="form-group">
                <label for="emailAddress">Email</label>
                <input type="email" id="emailAddress" name="emailAddress" ngModel required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel required>
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" id="cpassword" name="cpassword" ngModel required>
            </div>
            
            <div class="form-group">
                <label for="roles">Select Role</label>
                <select id="roles" name="roles" ngModel required>
                    @for(role of Roles;track role;) {
                        <option value="{{role}}">{{role}}</option>
                    }
                </select>
            </div>
            <button type="submit">Register</button>
        </form>
        <p class="login-link">
            Already have an account? <a routerLink="/login">Login here</a>
        </p>
    </div>

</div>