.container {
    background: #ffffff; /* White background for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
}

.register-form {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group label[for="roles"] {
    font-weight: 600;
    color: #4682b4;
    margin-bottom: 8px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #66cdaa; /* Medium aquamarine border */
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #e0ffff; /* Light cyan background for input fields */
}

.form-group input:focus {
    border-color: #4682b4; /* Steel blue border on focus */
    background-color: #f0f8ff; /* Light blue background on focus */
    outline: none;
}

.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #66cdaa;
    border-radius: 5px;
    background-color: #e0ffff;
    transition: border-color 0.3s, background-color 0.3s;
    appearance: none;
    outline: none;
}

.form-group select:focus {
    border-color: #4682b4;
    background-color: #f0f8ff;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4682b4; /* Steel blue button background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5f9ea0; /* Cadet blue button background on hover */
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.login-link a {
    color: #4682b4;
    text-decoration: none;
    transition: color 0.3s;
}

.login-link a:hover {
    color: #5f9ea0; /* Cadet blue on hover */
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

input.ng-touched.ng-invalid {
    border-color: red;
  }

input.ng-touched.ng-valid {
    border-color: green;
}