<div class="container home-page-container">
  <h1>Insurance Management System</h1>
  <div class="navigation-section">
      <div class="nav-item">
          <label for="claims-list">Go to Claims List:</label>
          <a id="claims-list" class="btn nav-btn" [routerLink]="['claims']">Claims List Page</a>
      </div>
      <div class="nav-item">
          <label for="irda-page">Go to IRDA Portal:</label>
          <a id="irda-page" class="btn nav-btn" routerLink="/irda">IRDA Page</a>
      </div>
      <div class="nav-item">
          <label for="survey-report-page">Create Survey Report:</label>
          <a id="survey-report-page" class="btn nav-btn" routerLink="/createsurveyreport">Survey Report Page</a>
      </div>
      <div class="nav-item">
          <label for="individual-claim-page">View Individual Claim:</label>
          <input type="text" id="individual-claim-id" placeholder="Enter Claim ID" #claimId>
          <button id="individual-claim-page" class="btn nav-btn" (click)="fetchClaim(claimId.value)">Individual Claim Page</button>
      </div>
      <div class="nav-item">
          <label for="estimated-loss-surveyors">View Individual Claim:</label>
          <input type="number" id="estimated-loss-surveyors" placeholder="Enter Estimated Loss" #estimatedLoss>
          <button id="estimated-loss-surveyors-btn" class="btn nav-btn" (click)="fetchSurveyors(estimatedLoss.value)">Fetch Surveyors</button>
      </div>
  </div>

  
</div>
